<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Time -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mdse.pts.time.presentation.TimeModelWizardID"
            name="%_UI_TimeModelWizard_label"
            class="org.mdse.pts.time.presentation.TimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TimeModelFile.gif">
         <description>%_UI_TimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Time -->
      <editor
            id="org.mdse.pts.time.presentation.TimeEditorID"
            name="%_UI_TimeEditor_label"
            icon="icons/full/obj16/TimeModelFile.gif"
            extensions="time"
            class="org.mdse.pts.time.presentation.TimeEditor"
            contributorClass="org.mdse.pts.time.presentation.TimeActionBarContributor">
      </editor>
   </extension>

</plugin>
