<?xml version="1.0" encoding="UTF-8"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="Network 1">
  <stations name="CPH Central" legs="//@legs.1 //@legs.2 //@legs.0 //@legs.7"/>
  <stations name="Nordhavn" legs="//@legs.1 //@legs.4 //@legs.6 //@legs.7 //@legs.8"/>
  <stations name="Norreport" legs="//@legs.2 //@legs.3 //@legs.5 //@legs.6 //@legs.8"/>
  <stations name="Sydhavn" legs="//@legs.0 //@legs.3 //@legs.5"/>
  <stations name="Hellerup" legs="//@legs.4"/>
  <legs name="C33" stations="//@stations.0 //@stations.3"/>
  <legs name="A302" distance="44" stations="//@stations.0 //@stations.1"/>
  <legs name="A401" stations="//@stations.0 //@stations.2"/>
  <legs name="B421" stations="//@stations.3 //@stations.2"/>
  <legs name="K200" stations="//@stations.1 //@stations.4"/>
  <legs name="A66" stations="//@stations.3 //@stations.2"/>
  <legs name="L21" stations="//@stations.1 //@stations.2"/>
  <legs name="A707" stations="//@stations.0 //@stations.1"/>
  <legs name="L18" stations="//@stations.1 //@stations.2"/>
</network:Network>
