<?xml version="1.0" encoding="UTF-8"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="Denmark">
  <stations name="Aarhus" legs="//@legs.0"/>
  <stations name="København" legs="//@legs.0"/>
  <stations name="Kolding" legs="//@legs.1"/>
  <stations name="Flensburg" legs="//@legs.1"/>
  <legs name="AK 1" distance="250" sourceStation="//@stations.1" targetStation="//@stations.0"/>
  <legs name="EKFL" distance="100" sourceStation="//@stations.2" targetStation="//@stations.3"/>
</network:Network>
