<?xml version="1.0" encoding="UTF-8"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="Schleswig Holstein">
  <stations name="Flensburg"/>
  <stations name="Niebuell"/>
  <stations name="Schleswig"/>
  <stations name="Husum"/>
  <stations name="Rendsburg"/>
  <stations name="Kiel"/>
  <stations name="Neumuenster"/>
  <stations name="Itzehoe"/>
  <stations name="Luebeck"/>
  <stations name="Hamburg"/>
  <legs name="FS 1" distance="10" sourceStation="//@stations.0" targetStation="//@stations.2"/>
</network:Network>
